/* Define variables for your colors */
:root {
    --color-shades-dark: rgb(25, 25, 25);
    --color-shades-light: rgb(165, 167, 175);
    --color-highlight: rgb(24, 54, 145);
  }
  
  /* Use the alternative box model
  Details: <https://web.dev/learn/css/box-model/> */
  *{
    box-sizing: border-box;
  }
  
  /* Basic font styling */
  body {
    font-family: Segoe UI, system-ui, -apple-system, sans-serif;
    font-size: 1.6rem;
  }
  
  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  /* Basic link styling */
  a {
    --text-color: var(--color-shades-dark);
  
    border-block-end: 3px solid var(--border-color, transparent);
    color: var(--text-color);
    padding: 0.1rem;
    text-decoration: none;
  }
  
  /* Link styling */
  a {
    --text-color: var(--color-shades-dark);
    border-block-end: 3px solid var(--border-color, transparent);
    color: var(--text-color);
    display: inline-block;
    margin-block-end: 0.5rem; /* See note at the bottom of this chapter */
    margin-inline-end: 0.5rem;
    padding: 0.1rem;
    text-decoration: none;
  }
  
  /* Change the border-color on :hover and :focus */
  a:where(:hover, :focus) {
    --border-color: var(--text-color);
  }

  /* Remove the default list styling and create a flexible layout for the list */
