[aria-current="page"] {
    --border-color: var(--color-highlight);
    --text-color: var(--color-highlight);
}

@media (min-width: 48em) {
    nav {
      --nav-button-display: none;
      --nav-position: static;
    }
    
    ul {
      --nav-list-layout: row;
      --nav-list-position: static;
      --nav-list-padding: 0;
      --nav-list-height: auto;
      --nav-list-width: 100%;
      --nav-list-shadow: none;
      --nav-list-visibility: visible;
    }
  }

  @media (prefers-reduced-motion: no-preference) {
    ul {
      transition: transform 0.6s cubic-bezier(.68,-0.55,.27,1.55), visibility 0.3s linear;
    }
  }
  
  ul {
    background: rgb(255, 255, 255);
    box-shadow: var(--nav-list-shadow, -5px 0 11px 0 rgb(0 0 0 / 0.2));
    display: flex;
    flex-direction: var(--nav-list-layout, column);
    flex-wrap: wrap;
    gap: 1rem;
    height: var(--nav-list-height, 100vh);
    list-style: none;
    margin: 0;
    padding: var(--nav-list-padding, 2rem);
    position: var(--nav-list-position, fixed);
    inset-block-start: 0; /* Logical property. Equivalent to top: 0; */
    inset-inline-end: 0; /* Logical property. Equivalent to right: 0; */
    width: var(--nav-list-width, min(22rem, 100vw));
    visibility: var(--nav-list-visibility, visible);
    transition: opacity 0.6s linear, visibility 0.3s linear;
}
  
  button {
    all: unset;
    display: var(--nav-button-display, flex);
    position: relative;
    z-index: 1;
  }

nav {
    position: var(--nav-position, fixed);
    inset-block-start: 1rem;
    inset-inline-end: 1rem;
    
}
  [aria-expanded="false"] + ul {
    transform: var(--nav-list-transform, translateX(100%));
    visibility: var(--nav-list-visibility, hidden);
  }

  *:focus {
    outline: none;
  }
  
  /* Show a custom outline on :focus-visible */
  *:focus-visible {
    outline: 2px solid var(--color-shades-dark);
    outline-offset: 4px;
  }